body {
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  font-weight: normal;
  font-family: 'PT Sans Regular', sans-serif;
  background-color: #f2f2f2;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

/*.shadow{
  width: auto;
  box-shadow: 0 0 15px 5px rgba(0, 1, 1, 0.2);
}*/

.main-navigation {
  font-size: 0;
  position: relative;
}

.main-navigation ul {
  list-style: none;
  padding: 0 70px;
  margin: 0;
}

.main-navigation li {
  display: inline-block;
  width: 20%;
  margin: 0;
  font-size: 14px;
  vertical-align: middle;
  padding: 15px 0;
}

.main-navigation li:first-child {
  text-align: left;
}

.main-navigation li:nth-child(2) {
  text-align: left;
}

.main-navigation li:nth-child(4){
  text-align: right;
}

.main-navigation li:last-child {
  text-align: right;
}

.main-navigation img{
  position: absolute;
  top: 0;
  left: 530px;
  z-index: 2;
}

.main-navigation a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    line-height: 26px;
}

.main-navigation a:hover {
  color: #81b3d2;
}

.intro {
  position: relative;
  z-index: 1;
}

.main-text-item {
  position: relative;
  background: url("../img/background-photo.jpg") no-repeat;
  min-width: 1200px;
  min-height: 500px;
  text-align: center;
  padding-top: 80px;
}

.shape{
  width: 1200px;
  height: 60px;
  position: absolute;
  top: 439px;
  margin-bottom: 55px;
}

.shape img {
  position: relative;
  z-index: 3;
}

.intro h1{
  padding-bottom: 26px;
  margin: 0;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.intro h1,
.intro .about {
  text-align: center;
}

.intro .about {
  color:#333333;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 54px;
}

.block1{
  width: 1200px;
  height: 255px;
  margin-bottom: 60px;
}

.text-item {
  float: left;
  background-color: #81b3d2;
  width: 400px;
  height: 153px;
  text-align: center;
  padding-top: 51px;
  padding-bottom: 51px;
}

.title {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
}

.description-item {
  color: #ffffff;
}

.picture {
  float: right;
  width: 800px;
  height: 256px;
}

.block2 {
  height: 280px;
}

.block2 p {
  color: #333333;
}

.column1 {
  float: left;
  width: 300px;
  text-align: center;
  padding-left: 70px;
}

.column2 {
  float: left;
  width: 320px;
  text-align: center;
  padding-left: 90px;
}

.column3 {
  float: right;
  width: 300px;
  text-align: center;
  padding-right: 65px;
}

.mini-title {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
}

.block3{
  width: 1200px;
  height: 255px;
}

.picture2 {
  float: left;
  width: 800px;
  height: 256px;
}

.text-item2 {
  float: right;
  background-color: #81b3d2;
  width: 400px;
  height: 153px;
  padding-top: 51px;
  padding-bottom: 51px;
  text-align: center;
}

.text-item2 p {
  color: #ffffff;
}

.block4 {
  background-color: #eeeeee;
  width: 1200px;
  height: 200px;
  padding-top: 50px;
  margin-bottom: 55px;
}

.main-call {
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}

.mini-call2 {
  text-align: center;
  margin: 0 auto;
}

.form-item{
  position: relative;
  z-index: 3;
  top: 504px;
  width: 570px;
  background-color: #ffffff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.form-item button{
  background-color: #766357;
  width: 100%;
  padding: 34px 0;
  border: none;
  margin-bottom: 49px;
}

.form-item a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
}

.arrival-date {
  padding-bottom: 30px;
}

.arrival-date label {
  padding-right: 55px;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
}

.arrival-date input[type="date"] {
  background-color: #f2f2f2;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  border: none;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 15px;
}

.arrival-date input[type="date"]:hover{
  background-color: #ebebeb;
}

.departure {
  padding-bottom: 30px;
}

.departure label {
  padding-right: 55px;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
}

.departure input[type="date"] {
  background-color: #f2f2f2;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  border: none;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 15px;
}

.departure input[type="date"]:hover{
  background-color: #ebebeb;
}

.selection {
  padding-bottom: 55px;
}

.selection label {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
}

.selection input[type="number"] {
  background-color: #f2f2f2;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  border: none;
  padding-top: 4px;
  padding-bottom: 4px;
}

.selection input[type="number"]:hover {
  background-color: #ebebeb;
}

.btn input[type="submit"] {
  background-color: #81b3d2;
  border: none;
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  padding-top: 14px;
  padding-bottom: 18px;
  padding-left: 195px;
  padding-right: 195px;
  margin-bottom: 55px;
}

.btn input[type="submit"]:hover {
  background-color: #669ec0;
  cursor: pointer;
}

/*.form-item form {
  display: none;
}*/

.background-map{
  background: url("../img/map.jpg") no-repeat;
  width: 1200px;
  height: 600px;
  position: relative;
  top: 136px;
  z-index: 1;
}

.main-footer {
  position: absolute;
  width: 1200px;
  background-color: #fefefe;
  z-index: 2;
}

.footer-contacts {
  float: left;
  width: 150px;
  padding-left: 130px;
  padding-top: 50px;
  padding-bottom: 52px;
  padding-right: 250px;
}

.footer-contacts a{
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-decoration: none;
  color: #000000;
}

.footer-social {
  float: left;
  width: 165px;
  text-align: center;
  padding-top: 35px;
  margin-bottom: 35px;
}

.social-btn {
  display: inline-block;
  width: 46px;
  height: 48px;
  font-size: 0;
  text-decoration: none;
  background-color: #81b3d2;
  position: relative;
  margin-right: 5px;
}

.social-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.social-btn:hover {
  background-color: #669ec0;
}

.social-btn-tw::before{
  width: 17px;
  height: 15px;
  background-position: -5px -378px;
}

.social-btn-fb::before {
  width: 10px;
  height: 19px;
  background-position: -5px -349px;
}

.social-btn-yt::before {
  width: 20px;
  height: 16px;
  background-position: -5px -403px;
}

.footer-copyright {
  float: right;
  width: 205px;
  padding-right: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-copyright p{
  display: inline-block;
}

.footer-copyright .btn {
  position: relative;
  display: inline-block;
  font-size: 0;
  width: 113px;
  height: 39px;
  vertical-align: top;
}

.footer-copyright .btn::before {
  content: "";
  position: absolute;
  background-image: url("../img/sprite.png");
  background-color: #ffffff;
  background-repeat: no-repeat;
  width: 113px;
  height: 39px;
  background-position: -5px -429px;
}

.footer-copyright .btn:hover::before{
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 113px;
  height: 39px;
  background-position: -5px -527px;
}


/*Для catalog.html*/
.filter{
  background: #7c96b3 url("../img/filter-background.jpg") no-repeat 50%;
  width: 1200px;
  color: #ffffff;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: block;
  line-height: 21px;
  position: relative;
  cursor: pointer;
  padding-left: 35px;
}

input[type="checkbox"] + label::before {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -5px -285px;
  position: absolute;
  top: 0;
  left: 0;
}

input[type="checkbox"]:checked + label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 22px;
  background-position: -5px -221px;
}

.filter-title {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  padding-bottom: 20px;
}

.filter-points {
  padding-bottom: 20px;
  display: inline-block;
}

.filter-item1{
  float: left;
  width: 140px;
  padding-right: 120px;
  padding-left: 70px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.filter-item2{
  float: left;
  width: 140px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.filter-range {
  float: right;
  padding-right: 70px;
  padding-top: 30px;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  background: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

.range-controls {
  position: relative;
  margin-bottom: 30px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  margin-bottom: 30px;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff
}

.filter-results-header{
  width: 1200px;
  border-bottom: 1px solid #f2f2f2;
}

.found{
  float: left;
  width: 110px;
  padding-left: 70px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  padding-right: 45px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.sorting {
  float: left;
  width: 85px;
  padding-right: 35px;
  padding-top: 37px;
  padding-bottom: 36px;
  font-size: 12px;
  line-height: 18px;
}

.filter-name{
  float: left;
  width: 300px;
  padding-top: 37px;
  padding-bottom: 32px;
}

.filter-name a {
  margin-right: 30px;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
}

.filter-name a:not(.selected){
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed #81b3d2;
}

.filter-name a:hover:not(.selected) {
  color: #81b3d2;
  border-bottom: 1px dashed #81b3d2;
}

.filter-name a.selected {
  color: #81b3d2;
}

.filter-name a:hover.selected {
  color: #81b3d2;
  border-bottom: 1px dashed #81b3d2;
}

.filter-name a:active:not(.selected) {
  color: #81b3d2;
  border-bottom: none;
}

.arrows{
  float: right;
  width: 35px;
  padding-right: 70px;
  padding-top: 39px;
  padding-bottom: 36px;
}

.arrow{
  display: inline-block;
  width: 11px;
  height: 10px;
  font-size: 0;
  vertical-align: top;
  position: relative;
}

.arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.arrow-up::before {
  width: 11px;
  height: 10px;
  background-position: -5px -65px;
}

.arrow-down::before{
  width: 11px;
  height: 10px;
  background-position: -5px -25px;
}

.arrow-up:hover::before {
  width: 11px;
  height: 10px;
  background-position: -5px -105px;
}

.arrow-down:hover::before {
  width: 11px;
  height: 10px;
  background-position: -5px -45px;
}

.hotel-results-item{
  width: 1200px;
  border-bottom: 1px solid #f2f2f2;
}

.hotel-results-item .image{
  float: left;
  padding: 30px 0;
  padding-left: 70px;
  padding-right: 30px;
  width: 135px;
  height: 90px;
}

.hotels-description-item {
  float: left;
  padding-bottom: 30px;
  padding-top: 25px;
}

.title-hotel {
  padding: 0;
  margin: 0;
  padding-bottom: 11px;
}

.title-hotel a {
  text-decoration: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.title-hotel a:hover{
  color: #81b3d2;
}

h2 {
  font-size: 21px;
  font-weight: bold;
}

.description {
  color: #333333;
  padding-bottom: 16px;
}

.description p{
  display: inline;
  vertical-align: top;
  padding-right: 35px;
}

p.type1 {
  padding-right: 40px;
}

p.type2 {
  padding-right: 65px;
}

p.type3 {
  padding-right: 20px;
}

.btn-1,
.btn-2 {
    color: #ffffff;
    border: none;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    padding: 1px 15px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-1 {
  background-color: #81b3d2;
}

.btn-2 {
  background-color: #766357;
}

.btn-1:hover {
  background-color: #669ec0;
}

.btn-2:hover {
  background-color: #604e43;
}

.rating-item{
  float:right;
  padding-right: 70px;
  text-align: right;
  padding-top: 30px;
}

.rating-stars4 {
  display: inline-block;
  width: 89px;
  height: 17px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  position: relative;
}

.rating-stars4::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.stars4::before {
  background-position: -5px -732px;
  width: 89px;
  height: 17px;
}

.rating-stars2 {
  display: inline-block;
  width: 42px;
  height: 17px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  position: relative;
}

.rating-stars2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.stars2::before {
  width: 42px;
  height: 17px;
  background-position: -5px -678px;
}

.rating-stars3 {
  display: inline-block;
  width: 65px;
  height: 17px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  position: relative;
}

.rating-stars3::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}
.stars3::before {
  width: 65px;
  height: 17px;
  background-position: -5px -705px;
}

.rating p {
  color: #666666;
  background-color: #f2f2f2;
  padding: 1px 10px;
}

.sprite {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite-arrow-down {
    width: 11px;
    height: 10px;
    background-position: -5px -5px;
}

.sprite-arrow-down-down {
    width: 11px;
    height: 10px;
    background-position: -5px -25px;
}

.sprite-arrow-down-hvr {
    width: 11px;
    height: 10px;
    background-position: -5px -45px;
}

.sprite-arrow-up {
    width: 11px;
    height: 10px;
    background-position: -5px -65px;
}

.sprite-arrow-up-down {
    width: 11px;
    height: 10px;
    background-position: -5px -85px;
}

.sprite-arrow-up-hvr {
    width: 11px;
    height: 10px;
    background-position: -5px -105px;
}

.sprite-calendar {
    width: 21px;
    height: 22px;
    background-position: -5px -125px;
}

.sprite-calendar-down {
    width: 21px;
    height: 22px;
    background-position: -5px -157px;
}

.sprite-calendar-hvr {
    width: 21px;
    height: 22px;
    background-position: -5px -189px;
}

.sprite-checkbox {
    width: 26px;
    height: 22px;
    background-position: -5px -221px;
}

.sprite-checkbox-disabled {
    width: 26px;
    height: 22px;
    background-position: -5px -253px;
}

.sprite-checkbox-none {
    width: 22px;
    height: 22px;
    background-position: -5px -285px;
}

.sprite-checkbox-none-disabled {
    width: 22px;
    height: 22px;
    background-position: -5px -317px;
}

.sprite-icon-f {
    width: 10px;
    height: 19px;
    background-position: -5px -349px;
}

.sprite-icon-t {
    width: 17px;
    height: 15px;
    background-position: -5px -378px;
}

.sprite-icon-yt {
    width: 20px;
    height: 16px;
    background-position: -5px -403px;
}

.sprite-logo {
    width: 113px;
    height: 39px;
    background-position: -5px -429px;
}

.sprite-logo-down {
    width: 113px;
    height: 39px;
    background-position: -5px -478px;
}

.sprite-logo-hvr {
    width: 113px;
    height: 39px;
    background-position: -5px -527px;
}

.sprite-minus {
    width: 12px;
    height: 3px;
    background-position: -5px -576px;
}

.sprite-minus-down {
    width: 12px;
    height: 3px;
    background-position: -5px -589px;
}

.sprite-minus-hvr {
    width: 12px;
    height: 3px;
    background-position: -5px -602px;
}

.sprite-plus {
    width: 11px;
    height: 11px;
    background-position: -5px -615px;
}

.sprite-plus-down {
    width: 11px;
    height: 11px;
    background-position: -5px -636px;
}

.sprite-plus-hvr {
    width: 11px;
    height: 11px;
    background-position: -5px -657px;
}

.sprite-stars2 {
    width: 42px;
    height: 17px;
    background-position: -5px -678px;
}

.sprite-stars3 {
    width: 65px;
    height: 17px;
    background-position: -5px -705px;
}

.sprite-stars4 {
    width: 89px;
    height: 17px;
    background-position: -5px -732px;
}
